CUTPDF/
.env
__pycache__/
venv/
mixques/
output/
*.json
SHS CD Toan 10_ruot (TB2025)- KNTT (16.3.2025)/
credential.py
*.pickle
*.json
.env
__pycache__/
venv/
build/
CutPDF_Pro.spec
dist/
fix.py
.env.gen
SGK Lịch sử và địa lí 6 CD/
modules/chuyendang/
*.pdf
*.docx 
*.xlsx