altgraph
annotated-types
anyio
APScheduler
babel
beautifulsoup4
cachetools
certifi
cffi
charset-normalizer
cobble
cryptography
distro
docstring_parser
docx
docxcompose
dotenv
et_xmlfile
exception
feedparser
google
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-resource-manager
google-cloud-storage
google-crc32c
google-genai
google-resumable-media
googleapis-common-protos
grpc-google-iam-v1
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
idna
joblib
lxml
mammoth
Nuitka
numpy
oauthlib
openpyxl
ordered-set
packaging
pandas
pefile
pillow
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pyinstaller
pyinstaller-hooks-contrib
pypandoc
pyparsing
pypdf
PyPDF2
PyQt5
PyQt5-Qt5
PyQt5_sip
PyQtWebEngine
PyQtWebEngine-Qt5
python-dateutil
python-docx
python-dotenv
pywin32
pywin32-ctypes
RapidFuzz
requests
requests-oauthlib
rsa
scikit-learn
scipy
setuptools
sgmllib3k
shapely
six
skleanr
sniffio
soupsieve
tenacity
threadpoolctl
typing-inspection
typing_extensions
tzdata
tzlocal
uritemplate
urllib3
vertexai
websockets
xlsxwriter
zstandard
